body {
    color: red;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #000;
}
hr {
    height: 50px;
    background-image: url("https://img.freepik.com/premium-vector/monochrome-illusory-abstract-geometric-seamless-pattern-with-3d-geometric-figures-vector-black-white-striped-backdrop_570429-6893.jpg?w=1060");
}

img {
    max-width: 40%;
    max-height: 300px;
}

a {
    color: orange;
}