* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   overscroll-behavior: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #ff0000;
    font-family: Verdana, sans-serif;
}

header, main, footer {
    padding: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    position: sticky;
    top: 0;
    background-color: white;
    align-items: center;
}

nav ul li{
    display: inline-block;
}

section {
    height: 45vh;
    scroll-margin-top: 10rem;
}

button {
    border: none;
    border-radius: 5px;
    box-shadow: none;
    padding: 1rem 2rem;
    font-family: inherit;
    background-color: orange;
    font-size: inherit;
}

#backTop {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
}