* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: "Raleway", Verdana, sans-serif;
}

main {
    margin: 5rem auto;
    width: 40vw;
    text-align: center;
}

.form-wrap {
    background-color: aliceblue;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

.form-wrap h1,
.form-wrap p {
    margin-bottom: 1rem;
}

label {
    display: block;
    text-align: left;
    font-size: .8rem;
    color: grey;
    margin-bottom: .3rem;
    margin: .3rem 0 .1rem 0;
}

input {
    width: 100%;
    padding: .5rem;
    font-size: 1rem;
    border: 1px solid #000;
    border-radius: .5rem;
}

button {
    padding: .5rem;
    background-color: coral;
    border-radius: .5rem;
    color: #FFFFFF;
    border: none;
    margin: 1rem;
    text-transform: uppercase;
    width: 80%;
    font-size: 1.5rem;
}