* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: red;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #000;
}

header{
    background-color: #320bf865;
}

h2 {
    margin: 1rem;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(47, 47, 47);
    margin: 5px 20px;
}

li a {
    color: orange;
    text-decoration: none;
    display: block;
}

li a:hover {
    color: #FFFFFF;
    text-decoration: none;
}


.banner{
    color: #FFFFFF;
    text-align: center;
    padding: 45px 0px 50px 0px;
}

table {
    margin: 1rem;
}

table,
th,
td {
    border: 1px solid #FFFFFF;
    border-collapse: collapse;
    padding: 1rem;
}

th {
    text-align: center;
    background-color: rgba(255, 166, 0, 0.804);
    color: #FFFFFF;
}

.odd{
    background-color: rgb(61, 61, 61);
}